# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# OS files
.DS_Store

# Output
*.png
*.csv

# Keep the results folder structure
!results/.gitkeep

# Allow the final result graph to be uploaded
!results/*.png